/* line 2, ../sass/style.scss */
body {
  background: #141414;
  font-size: 12px;
}

/* line 7, ../sass/style.scss */
.panel {
  border: 0px;
}

/* line 11, ../sass/style.scss */
.row {
  margin-left: 0px;
  margin-right: 0px;
}

/* line 16, ../sass/style.scss */
.padding-0 {
  padding-right: 5px !important;
  padding-left: 5px !important;
}

/* line 22, ../sass/style.scss */
.bg-success {
  background: #008000 !important;
}

/* line 25, ../sass/style.scss */
.bg-fail {
  background: #e74c3c !important;
}

/* line 28, ../sass/style.scss */
.bg-delay {
  background: #f39c12 !important;
}

/* line 31, ../sass/style.scss */
.bg-start {
  background: #3498db !important;
}

/* line 36, ../sass/style.scss */
.dashboard-header {
  color: #00FF00;
  font-family: 'VT323', monospace;
  margin-top: 20px;
  margin-bottom:20px;
  font-size: 65px;
}

/* line 43, ../sass/style.scss */
.refresh-status {
  font-weight: bold;
  color: #ecf0f1;
}

/* line 48, ../sass/style.scss */
.panel-default {
  margin-bottom: 10px;
  border-radius: 0px;
}
/* line 51, ../sass/style.scss */
.panel-default .panel-heading {
  padding: 5px 15px;
}
/* line 53, ../sass/style.scss */
.panel-default .panel-heading .company-heading {
  font-weight: bold;
  font-size: 25px;
  width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #ecf0f1;
}
/* line 61, ../sass/style.scss */
.panel-default .panel-heading .company-heading a {
  color: #ecf0f1;
}
/* line 67, ../sass/style.scss */
.panel-default .panel-body {
  padding: 5px;
}
/* line 69, ../sass/style.scss */
.panel-default .panel-body p {
  color: #ecf0f1;
  margin: 0px;
}
/* line 73, ../sass/style.scss */
.panel-default .panel-body a {
  color: #ecf0f1;
}

/* line 79, ../sass/style.scss */
.rf-btn {
  font-size: 12px;
  font-weight: bold;
  border-radius: 0px;
  background: #ecf0f1;
  transition: all 0.3s;
  color: #2c3e50;
}
/* line 86, ../sass/style.scss */
.rf-btn:hover {
  background: #bdc3c7;
  transition: all 0.3s;
}

/* line 92, ../sass/style.scss */
.detail-text {
  color: #2c3e50 !important;
  font-size: 14px;
}

/* line 97, ../sass/style.scss */
.modal-header {
  background: #2ecc71;
  color: #ecf0f1;
}
/* line 100, ../sass/style.scss */
.modal-header h4 {
  font-weight: bold;
}

/* line 105, ../sass/style.scss */
.modal-content {
  border-radius: 0px;
}

/* line 110, ../sass/style.scss */
.blinking-cursor {
  font-weight: 100;
  font-size: 65px;
  color: #00FF00;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #00FF00;
  }
}
@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: #00FF00;
  }
}
@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #00FF00;
  }
}
@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #00FF00;
  }
}
@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #00FF00;
  }
}
