/* line 2, ../sass/style.scss */
body {
  background: #2c3e50;
  font-size: 12px;
}

/* line 7, ../sass/style.scss */
.panel {
  border: 0px;
}

/* line 12, ../sass/style.scss */
.bg-success {
  background: #2ecc71 !important;
}

/* line 15, ../sass/style.scss */
.bg-fail {
  background: #e74c3c !important;
}

/* line 18, ../sass/style.scss */
.bg-delay {
  background: #f39c12 !important;
}

/* line 24, ../sass/style.scss */
.dashboard-header {
  color: #ecf0f1;
}

/* line 28, ../sass/style.scss */
.refresh-status {
  font-weight: bold;
  color: #ecf0f1;
}

/* line 33, ../sass/style.scss */
.panel-default {
  border-radius: 0px;
}
/* line 35, ../sass/style.scss */
.panel-default .company-heading {
  padding: 6px 8px;
  font-weight: bold;
  color: #ecf0f1;
}
/* line 39, ../sass/style.scss */
.panel-default .company-heading a {
  color: #ecf0f1;
}
/* line 44, ../sass/style.scss */
.panel-default .panel-body {
  padding: 7px;
}
/* line 46, ../sass/style.scss */
.panel-default .panel-body p {
  color: #ecf0f1;
  margin: 0px;
}
/* line 50, ../sass/style.scss */
.panel-default .panel-body a {
  color: #ecf0f1;
}

/* line 56, ../sass/style.scss */
.rf-btn {
  font-size: 12px;
  font-weight: bold;
  border-radius: 0px;
  background: #ecf0f1;
  transition: all 0.3s;
  color: #2c3e50;
}
/* line 63, ../sass/style.scss */
.rf-btn:hover {
  background: #bdc3c7;
  transition: all 0.3s;
}

/* line 69, ../sass/style.scss */
.detail-text {
  color: #2c3e50 !important;
  font-size: 14px;
}

/* line 74, ../sass/style.scss */
.modal-header {
  background: #2ecc71;
  color: #ecf0f1;
}
/* line 77, ../sass/style.scss */
.modal-header h4 {
  font-weight: bold;
}

/* line 82, ../sass/style.scss */
.modal-content {
  border-radius: 0px;
}
