// GLOBAL
body {
	background: black;
	font-size: 12px;
}

.panel {
	border: 0px;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

.padding-0 {
	padding-right: 5px !important;
	padding-left: 5px !important;
}

// COLORS
.bg-success {
	background: #008000 !important;
}
.bg-fail {
	background: #e74c3c !important;
}
.bg-delay {
	background: #f39c12 !important;
}
.bg-start {
	background: #3498db !important;
}

// CONTENT
.dashboard-header {
	color: #00FF00;
	font-family: 'VT323', monospace;
	margin-top: 10px;
	font-size: 65px;
}

.refresh-status {
	font-weight: bold;
	color: #ecf0f1;
}

.panel-default {
	margin-bottom: 10px;
	border-radius: 0px;
	.panel-heading {
		padding: 5px 15px;
		.company-heading {
			font-weight: bold;
			font-size: 25px;
			width: 160px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			// background: #e74c3c;
			a {
				color: #ecf0f1;
			}
			color: #ecf0f1;
		}
	}
	.panel-body {
		padding: 5px;
		p {
			color: #ecf0f1;
			margin: 0px;
		}
		a {
			color: #ecf0f1;
		}
	}
}

.rf-btn {
	font-size: 12px;
	font-weight: bold;
	border-radius: 0px;
	background: #ecf0f1;
	transition: all 0.3s;
	color: #2c3e50;
	&:hover {
		background: #bdc3c7;
		transition: all 0.3s;
	}
}

.detail-text {
	color: #2c3e50 !important;
	font-size: 14px;
}

.modal-header {
	background: #2ecc71;
	color: #ecf0f1;
	h4 {
		font-weight: bold;
	}
}

.modal-content {
	border-radius: 0px;
}

// Cursor Blink
.blinking-cursor {
	font-weight: 100;
	font-size: 65px;
	color: #00FF00;
	-webkit-animation: 1s blink step-end infinite;
	-moz-animation: 1s blink step-end infinite;
	-ms-animation: 1s blink step-end infinite;
	-o-animation: 1s blink step-end infinite;
	animation: 1s blink step-end infinite;
}

@keyframes "blink" {
	from, to {
		color: transparent;
	}
	50% {
		color: #00FF00;
	}
}

@-moz-keyframes blink {
	from, to {
		color: transparent;
	}
	50% {
		color: #00FF00;
	}
}

@-webkit-keyframes "blink" {
	from, to {
		color: transparent;
	}
	50% {
		color: #00FF00;
	}
}

@-ms-keyframes "blink" {
	from, to {
		color: transparent;
	}
	50% {
		color: #00FF00;
	}
}

@-o-keyframes "blink" {
	from, to {
		color: transparent;
	}
	50% {
		color: #00FF00;
	}
}